*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
  padding: 16px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  width: 100%;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin: 16px 0;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  width: 100%;
  
}

.sr-only{
  border:0;   
   clip: rect(1px, 1px, 1px, 1px); 
   clip-path: inset(50%);
   height: 1px; 
   margin: -1px;
   width: 1px; 
   overflow: hidden; 
   position: absolute !important;
   word-wrap:normal !important;
}

form{
  width: 100%;
}

input{
  border: 1px solid gray;
  border-radius: 5px;
  padding: 16px 10px;
  min-height: 40px;
  margin-top: 16px;
  display: block;
  width: 100%;
}
input:focus{
  border-width: 2px;
}
.wave-list{
  list-style: none;
}
.wave-list li{
  border-bottom: 2px dashed gray;
  padding: 16px 0;
}

p.small{
  font-size: 12px;
  margin-top: 10px;
}
.loading{
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  min-height: 16px;
}
.error{
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  color: red;
  min-height: 16px;
}

@media screen and (max-width: 599px) {
  .dataContainer{
    max-width: 100%;
  }
}